doctype html
html
  head
    title Test task
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3-1-1.js')
    script(src='/javascripts/client.js')
  body
    block content
