body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.header {
    background-color: #e0e0e0;
    color: #000000;
    width: 100%;
    padding: 10px;
}
.footer {
    background-color: #e0e0e0;
    color: #000000;
    width: 100%;
    padding: 10px;
}
.main {
    color: #000000;
    width: 100%;
    padding: 10px;
}
.div__button {
    background-color: #00B7FF;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    width: 80px;
    padding: 10px;
    margin-top: 5px;
}
.div__button:hover {
    opacity: 0.7;
}